---
import type { Page } from 'interfaces/page';
import type { Category } from "interfaces/category"

export interface Props {
	page: Page | Category;
	categories: Category[];
}
const params = Astro.params;
// console.log('params', params)
const categorias = Object.keys(params).filter(prop => prop.startsWith('category'));
// const categorias = Object.keys(objeto).filter(prop => prop.startsWith('category'));

// const ruta = `/${params.page}/${categorias.map(prop => params[prop]).join('/')}`;
const ruta = `/${params.page}${categorias.map(prop => `/${params[prop]}`).join('')}`;
const { page: { data: { name, description } }, categories } = Astro.props;
---

<section class=" ">
  <div class="container px-6 py-32 mx-auto">
    <div class="text-center">
      <h1 class="text-2xl font-semibold capitalize lg:text-3xl">{name}</h1>

      <p class="max-w-lg mx-auto mt-4 text-cris-secondary">
        {description}
      </p>
    </div>

    <div class="grid grid-cols-1 gap-8 mt-8 lg:grid-cols-2">
      {categories?.map((category, i) => (

        <div >
          <img class="relative z-10 object-cover w-full rounded-md h-96" src={category.data.thumbnailUrl || 'https://thumbs.dreamstime.com/b/blog-information-website-concept-workplace-background-text-view-above-127465079.jpg'} alt="" />

          <div class="relative z-20 max-w-lg p-6 mx-auto -mt-20 bg-cris-fill rounded-md shadow dark:bg-gray-900">
            <a href={`${ruta}/${category?.slug}`} class="font-semibold  hover:underline  md:text-xl">
            {category.data.name}
            </a>

            <p class="mt-3 text-sm text-cris-secondary md:text-sm line-clamp-3">
            {category.data.description}
            </p>
          </div>
        </div>
      ))
      }
    </div>
  </div>
</section>
